a {
  color: #aaa;
}

a:hover {
  color: #007a7c;
}

.jumbotron-mini {
  background-color: #00455d;
  position: relative;
  height: 200px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-primary {
  background-color: #007a7c;
  border-color: #007a7c;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #004a4c;
  border-color:#004a4c;
}

.jumbotron {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url(https://www.womenwhocode.com/assets/about/about-header-11a7a82a80b7a5672d2ee86fac42585ed2fb4ff0c95bb794c60c626dafb33955.jpg);
  height: 700px;
}

.search-box {
  opacity: 0.7;
}

.main-feature {
  font-size: 8rem;
  color: #777;
}

.feat-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#feat-1 {
  background: url(https://www.incimages.com/uploaded_files/image/970x450/getty_933383882_2000133420009280345_410292.jpg);
}

#feat-2 {
  background: url(https://www.incimages.com/uploaded_files/image/970x450/getty_933383882_2000133420009280345_410292.jpg);
}

#feat-3 {
  background: url(https://www.incimages.com/uploaded_files/image/970x450/getty_933383882_2000133420009280345_410292.jpg);
}

#feat-4 {
  background: url(https://www.incimages.com/uploaded_files/image/970x450/getty_933383882_2000133420009280345_410292.jpg);
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
